/*CSS Transtions*/
.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0
}
/*CSS Transition Ends*/


@font-face {
  font-family: 'lato-light';
  src: url('/css/Lato-Light.ttf');
}
@font-face {
  font-family: 'lato-regular';
  src: url('/css/Lato-Regular.ttf');
}
@font-face {
  font-family: 'lato-bold';
  src: url('/css/Lato-bold.ttf');
}
@font-face {
  font-family: 'lato-black';
  src: url('/css/Lato-black.ttf');
}

* {
  font-family: 'lato-regular';
  background-color: #EDEDED;
  color: #484848;
}


.title {
  font-size: 1cm;
  height: auto;
  margin: 10vh 15vw 8vh 12vw;
} .title .first-name {
  font-family: 'lato-black';
} .title .middle-name {
  font-family: 'lato-light';
} .title .last-name {
  font-family: 'lato-regular';
} .title .subscript {
  font-size: .7cm;
}

.nav {
  position: fixed;
  top: 5vh;
  right: 5vw;
} .nav button {
  width: 1.4cm;
  height: 1.4cm;
}

.body {
  margin: 2vh 25vw 10vh 25vw;
}

@media screen and (max-width: 900px) {
  .title .middle-name {
    display: none;
  }
  .body {
    margin: 2vh 15vw 10vh 15vw;
  }
}