/*CSS Transtions*/
.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0
}
/*CSS Transition Ends*/


@font-face {
  font-family: 'lato-light';
  src: url('/css/Lato-Light.ttf');
}
@font-face {
  font-family: 'lato-regular';
  src: url('/css/Lato-Regular.ttf');
}
@font-face {
  font-family: 'lato-bold';
  src: url('/css/Lato-bold.ttf');
}
@font-face {
  font-family: 'lato-black';
  src: url('/css/Lato-black.ttf');
}

html {
  overflow-y:scroll;
}
* {
  font-family: 'lato-regular';
  background-color: #EDEDED;
  color: #484848;
}
.clickable {
  cursor: pointer;
}

.title {
  font-size: 1cm;
  margin: 10vh 15vw 8vh 12vw;
} .title .first-name {
  font-family: 'lato-black';
} .title .middle-name {
  font-family: 'lato-light';
} .title .last-name {
  font-family: 'lato-regular';
} .title .arrow {
  font-size: .7cm;
} .title .subscript {
  font-size: .7cm;
}

div.button.nav {
  position: fixed;
  height: 100vh;
  width: 8vw;
  top:0;
  background-color: #DFDFDF;
} div.button.nav-left {
  left: 0;
} div.button.nav-right {
  right: 0;
}

.body {
  margin: 2vh 25vw 10vh 25vw;
}

@media screen and (max-width: 900px) {
  .title .middle-name {
    display: none;
  }
  div.button.nav {
    width: 10vw;
  }
  .body {
    margin: 2vh 20vw 10vh 20vw;
  }
}

@media screen and (max-width: 500px) {
  .title {
    margin-top: 5vh;
  } .title .name {
    font-size: .4cm;
    display: block;
  } .title .arrow {
    display: none;
  } .title .subscript {
    font-size: .8cm;
    display: block;
  }
}


/*education*/
.education-item {
  margin-bottom: 5vh;
} .education-item a {
  text-decoration: none;
  color: #8888BB;
}
.education-year {
  font-size: smaller;
}
.education-title {
  font-size: larger;
}

/*experience*/
.experience-item {
  margin-bottom: 5vh;
} .experience-item a {
  text-decoration: none;
  color: #8888BB;
}
.experience-duration {
  font-size: smaller;
}
.experience-title {
  font-size: larger;
}

/*contact*/
.contact-item {
  margin-bottom: 5vh;
} .contact-item a {
  text-decoration: none;
  color: #8888BB;
}
.contact-title {
  font-size: larger;
}
.contact-content {
  padding: 2vh 0 0 2vw;
}