html {
    background-color: #FEFEFE;
    color: #444444;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow: hidden;
} html body {
    margin: 0px !important;
}

nav {
    position: fixed;
    z-index: 10;
    top: 2cm;
    right: 2cm;
} nav button {
    width: 2cm;
    height: 2cm;
}


header {
    font-size: .8cm;
    position: fixed;
    height: 2cm;
    text-align: right;
    width:100%;
} header .bold {
    font-weight: bolder;
} header div {
    margin: .5cm 2cm .5cm 0cm;
}


.page {
    width:100%;
    height:100%;
    overflow: hidden;
} .page .box {
    border: 3px solid #44444433;
    margin: 1cm;
}
